.notif-container {
  background-color: var(--brand-accent);
  width: 100%;
  text-align: center;
  padding: 16px 0;
}

.notif-container p {
  color: var(--page-bg);
}

.notif-container p span {
  text-decoration: underline;
  font-weight: 500;
}

.notif-container p span:hover {
  text-decoration: none;
  cursor: pointer;
}
