body {
  background-image: url("../src//assets//backgrounds/main-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--page-bg);
  background-attachment: fixed;
  color: var(--main-txt);

  /* Font */
  font-family: "Outfit", Verdana, Tahoma, sans-serif;
  font-size: 1.125rem;
}

body .body-wrapper {
  margin: 0 80px;
}
