.main-wrapper {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.upper-section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.author-name {
  margin-top: 24px;
}

.title-area h2 {
  font-size: 2rem;
  font-weight: bold;
}

.title-area p {
  opacity: 50%;
}

.lower-section {
  display: flex;
  flex-direction: column;
}

.note-contents {
  width: 100%;
  padding: 6px 12px;
}
