.fb-prompt {
  background-color: var(--card-bg);
  padding: 24px 40px;
  width: 320px;
  border-radius: 16px;
  margin-bottom: 24px;
  border: 3px solid var(--card-border);
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.fb-prompt a {
  text-decoration: none;
}
