section,
.vp-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  margin-top: 60px;
  gap: 24px;
}

h1 {
  margin: 0;
}

.vp-content p {
  width: 60%;
  text-align: center;
}

.brand-container {
  margin-bottom: 25px;
}

.notefyre-branding {
  height: 50px;
}

.notefyre-branding img {
  height: 100%;
}

.highlight {
  position: relative;
}

.highlight img {
  position: absolute;
  right: 10px;
  bottom: -5px;
}
