header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px;
  color: inherit;
}

.account-section {
  display: flex;
  gap: 8px;
  align-items: center;
}

.credentials p {
  color: var(--main-txt);
  line-height: 130%;
}

/* App icon */
.brand-section img {
  height: 40px;
}
