header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* App icon */

.app-icon {
  height: 40px;
}

.app-icon img {
  height: 100%;
}

/* Avatar section */

.avatar-container {
  display: flex;
  gap: 16px;
  align-items: center;
}
