header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-section {
  display: flex;
  gap: 8px;
  align-items: center;
}

.credentials {
  
}

/* App icon */
.brand-section img {
  height: 40px;
}
